<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <B><%= @user.name %></B>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
