<p id="notice"><%= notice %></p>

<h1>Line Item Products</h1>

<table>
  <thead>
    <tr>
      <th>Productsonsale</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_products.each do |line_item_product| %>
      <tr>
        <td><%= line_item_product.productsonsale %></td>
        <td><%= line_item_product.cart %></td>
        <td><%= link_to 'Show', line_item_product %></td>
        <td><%= link_to 'Edit', edit_line_item_product_path(line_item_product) %></td>
        <td><%= link_to 'Destroy', line_item_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line Item Product', new_line_item_product_path %>
